body {
    background-color: rgb(237, 235, 235);
}

.grid-container {
    display: grid;
    grid: auto 1fr 1fr / 190px 3fr 1fr;
    /* row heights / column widths */
    height: 100vh;
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
}

/* side-menu-bar */

.side-menu-bar {
    grid-area: 1 / 1 / span 3 / span 1;
    /* grid-row-start / grid-column-start / grid-row-end / grid-columnn-end */
    background-color: rgb(0, 98, 255);
    display: grid;
    grid-template: 100px repeat(9,20px) 1fr / 20px 1fr;
    gap: 10px;
    color: white;

    align-items: center;
    justify-items: center;
    font-weight: 600;

    padding-left: 20px;
}

.side-menu-bar-option, .side-menu-bar-title {
    justify-self: start;
}

.side-menu-bar-icon, .project-icon, .search-icon, .notifications-icon {
    max-height: 20px;
}

/* top-menu-bar */

.top-menu-bar {
    grid-area: 1 / 2 / span 1 / span 2;
}

.top-menu-bar-top {
    display: flex;
    background-color: white;
    align-items: center;
    color: white;
    padding: 20px;
}

.search-bar {
    flex: 1;
}

.search-icon {
    padding-left: 10px;
    padding-right: 10px;
}

.notifications-icon {
    padding-left: 10px;
    padding-right: 5px;
}

.top-menu-bar-top>.profile-picture-settings {
    max-height: 20px;
    padding-left: 10px;
    padding-right: 10px;
}

.top-menu-bar-top>.profile-name-settings {
    color: black;
    font-size: 12px;
    font-weight: 600;
}

.top-menu-bar-bottom {
    display: flex;
    background-color: white;
    align-items: center;
    padding-bottom: 20px;
    box-shadow: 0 8px 10px -10px darkgray;
    /* x-offset y-offset color */
    position: relative;
    /* necessary for shadow to show */
    
}

.top-menu-bar-bottom>.profile-picture {
    padding-left: 30px;
    padding-right: 20px;
}

.top-menu-bar-bottom>.greeting>.greeting-text {
    font-size: 12px;
    padding-bottom: 3px;
}

.top-menu-bar-bottom>.greeting>.profile-name {
    font-weight: 600;
}

.top-menu-bar-bottom>.spacer {
    flex: 1;
}

.top-menu-bar-bottom>button {
    margin-left: 15px;
    margin-right: 15px;
    width: 70px;
    height: 40px;
    border-radius: 20px;
}

/* project-content */

.project-content {
    grid-area: 2 / 2 / span 2 / span 1;
    background-color: rgb(237, 235, 235);
    font-size: 12px;
}

.project-content-title, .announcements-content-title, .trending-content-title {
    font-size: 15px;
    font-weight: 600;
    padding-left: 10px;
    padding-top: 20px;
}

.project-grid-container {
    display: grid;
    grid-template-columns: repeat(auto-fit,minmax(300px,1fr));
    gap: 10px;
    padding: 10px;
}

.project {
    background-color: white;
    padding: 20px;
    display: flex;
    flex-direction: column;
}

.project-title, .announcement-title {
    font-weight: 700;
    padding-bottom: 10px;
}

.icon-container {
    display: flex;
    justify-content: right;
    gap: 10px;
}

.project-icon {
    max-width: 20px;
}

/* announcements */

.announcements-content {
    grid-area: 2 / 3 / span 1 / span 1;
    display: flex;
    flex-direction: column;
    font-size: 12px;
}

.announcements-content-title {
    background-color: rgb(237, 235, 235);
    padding-bottom: 10px;
}

.announcements-container {
    display: flex;
    flex-direction: column;
    background-color: white;
    gap: 5px;
    flex: 1;
    margin-right: 10px;
}

.announcement {
    padding: 20px;
}

/* trending */

.trending-content {
    grid-area: 3 / 3 / span 1 / span 1;
    background-color: rgb(237, 235, 235);
    display: flex;
    flex-direction: column;
    font-size: 12px;
    gap: 10px;
}

.trending-container {
    display: flex;
    flex: 1;
    flex-direction: column;
    background-color: white;
    margin-bottom: 20px;
    align-items: center;
    margin-right: 10px;
}

.trending-user {
    display: flex;
    flex: 1;
    justify-items: center;
    align-items: center;
}

.trending-user-info {
    padding-left: 10px;
}

.trending-user-name {
    padding-top: 2px;
    font-weight: 200;
}

.trending-user-icon {
    max-height: 30px;
}