:root {
    --main-blue: #359AE7;
    --main-gray: rgb(237, 235, 235);
}

body {
    background-color: var(--main-gray);
}

.grid-container {
    display: grid;
    grid: auto 1fr 1fr / 190px 3fr 1fr;
    /* row heights / column widths */
    height: 100vh;
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
}

/* side-menu-bar */

.side-menu-bar {
    grid-area: 1 / 1 / span 3 / span 1;
    /* grid-row-start / grid-column-start / grid-row-end / grid-columnn-end */
    background-color: var(--main-blue);
    display: grid;
    grid-template: 100px repeat(9,20px) 1fr / 20px 1fr;
    gap: 10px;
    color: white;

    align-items: center;
    justify-items: center;
    font-weight: 600;

    padding-left: 20px;
}

.side-menu-bar-option, .side-menu-bar-title {
    justify-self: start;
}

.side-menu-bar-icon, .project-icon, .search-icon, .notifications-icon {
    max-height: 20px;
}

/* top-menu-bar */

.top-menu-bar {
    grid-area: 1 / 2 / span 1 / span 2;
}

.top-menu-bar-top {
    display: flex;
    background-color: white;
    align-items: center;
    color: white;
    padding: 20px;
}

.search-icon {
    padding-left: 10px;
    padding-right: 10px;
}

.search-bar {
    flex: 3;
    max-width: 500px;
    border-radius: 12px;
    background-color: var(--main-gray);
    height: 24px;
    border: 0px;
}

.top-menu-bar-top>.spacer {
    flex: 1;
    background-color: red;
}

.notifications-icon {
    padding-left: 10px;
    padding-right: 5px;
}

.top-menu-bar-top>.profile-picture-settings {
    max-height: 20px;
    padding-left: 10px;
    padding-right: 10px;
}

.top-menu-bar-top>.profile-name-settings {
    color: black;
    font-size: 12px;
    font-weight: 600;
    padding-right: 30px;
}

.top-menu-bar-bottom {
    display: flex;
    background-color: white;
    align-items: center;
    padding-bottom: 20px;
    box-shadow: 0 8px 10px -10px lightgray;
    /* x-offset y-offset color */
    position: relative;
    /* necessary for shadow to show */
    
}

.top-menu-bar-bottom>.profile-picture {
    padding-left: 30px;
    padding-right: 20px;
}

.top-menu-bar-bottom>.greeting>.greeting-text {
    font-size: 12px;
    padding-bottom: 3px;
}

.top-menu-bar-bottom>.greeting>.profile-name {
    font-weight: 600;
}

.top-menu-bar-bottom>.spacer {
    flex: 1;
}

.top-menu-bar-bottom>button {
    margin-left: 10px;
    margin-right: 10px;
    width: 70px;
    min-width: 70px;
    height: 30px;
    border-radius: 20px;
    background-color: var(--main-blue);
    color: white;
    font-weight: 500;
    font-size: 12px;
    border-width: 0px;
}

.top-menu-bar-bottom:last-child {
    padding-right: 30px;
}

/* project-content */

.project-content {
    grid-area: 2 / 2 / span 2 / span 1;
    background-color: var(--main-gray);
    font-size: 12px;
    overflow: scroll;
}

.project-content-title, .announcements-content-title, .trending-content-title {
    font-size: 15px;
    font-weight: 600;
    padding-left: 10px;
    padding-top: 20px;
}

.project-grid-container {
    display: grid;
    grid-template-columns: repeat(auto-fit,minmax(300px,1fr));
    gap: 10px;
    padding: 10px;
}

.project {
    background-color: white;
    padding: 20px;
    display: flex;
    flex-direction: column;
    border-radius: 5px;
    border-left: 8px solid gold;
    box-shadow: 0px 2px 4px lightgray;
}

.project-title, .announcement-title {
    font-weight: 700;
    padding-bottom: 10px;
}

.icon-container {
    display: flex;
    justify-content: right;
    gap: 10px;
}

.project-icon {
    max-width: 20px;
}

/* announcements */

.announcements-content {
    grid-area: 2 / 3 / span 1 / span 1;
    display: flex;
    flex-direction: column;
    font-size: 12px;
    min-width: 200px;
}

.announcements-content-title {
    background-color: var(--main-gray);
    padding-bottom: 10px;
}

.announcements-container {
    display: flex;
    flex-direction: column;
    background-color: white;
    gap: 5px;
    flex: 1;
    margin-right: 10px;
    border-radius: 5px;
    position: relative;
    box-shadow: 0px 2px 4px lightgray;
    padding: 20px;
    gap: 10px;
}

.announcement {
    padding-bottom: 10px;
    border-bottom: 1px solid lightgray;
}

.announcement:last-of-type {
    border-bottom: 0px;
    padding-bottom: 0px;
}

/* trending */

.trending-content {
    grid-area: 3 / 3 / span 1 / span 1;
    background-color: var(--main-gray);
    display: flex;
    flex-direction: column;
    font-size: 12px;
    gap: 10px;
}

.trending-container {
    display: flex;
    flex: 1;
    flex-direction: column;
    background-color: white;
    margin-bottom: 20px;
    align-items: center;
    margin-right: 10px;
    border-radius: 5px;
    box-shadow: 0px 2px 4px lightgray
}

.trending-user {
    display: flex;
    flex: 1;
    justify-items: center;
    align-items: center;
}

.trending-user-info {
    padding-left: 10px;
}

.trending-user-name {
    padding-top: 2px;
    font-weight: 200;
}

.trending-user-icon {
    max-height: 30px;
}

@media screen and (max-width: 1000px) {
    .grid-container {
        grid: auto 1fr 1fr / 190px 1fr;
        /* row heights / column widths */
    }
    .announcements-content {
        display: none;
    }
    .trending-content {
        display: none;
    }
}

@media screen and (max-width: 600px) {
    .grid-container {
        grid: auto auto / 1fr;
    }
    .top-menu-bar {
        grid-area: 1 / 1 / span 1 / span 1;
    }
    .project-content {
        grid-area: 2 / 1 / span 1 / span 1;
    }
    .side-menu-bar {
        display: none;
    }

    .project-content {
        width: 100vw;
    }
}